body {
    font-family: Chevin;
}

/* Insert custom styles here */

/* GENERAL STYLES */
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    color: #323232;
}
p {
    color: #6e6e6e;
}
h1, h2, h3 {
    margin: 0;
}
body > .main {
    margin: 0 16px;
    max-width: 688px;
    padding-top: 45px;
}
body.dev > .main {
    background-image: url(/expander.png);
    background-position: -96px -96px;
    background-repeat: no-repeat;
}

.no-select {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

/* main HEADER */
body > .main > header {
    height: 48px;
    margin-bottom: 14px;
}
h1 {
    font-weight: 300;
    font-size: 26px;
}

/* SECTION */
section {
    border-top-width: 1px;
    border-top-color: rgba(0,0,0,.15);
    border-top-style: solid;
}
section:last-child {
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.15);
    border-bottom-style: solid;
    margin-bottom: 20px;
}

section header {
    padding: 20px 0;
    -webkit-transition-property: color;
    -o-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
       -moz-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    cursor: pointer;
}
section header * {
    cursor: pointer;
}
section.open header {
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.15);
    border-bottom-style: solid;
    color: #ff6a10;
    cursor: pointer;
}
section.open header p {
    color: #ff6a10;
}

header .header-texts {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
}
h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
section header h2 + p {
    margin: 0;
}

.icon-menu {
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    line-height: 0;
    -webkit-transition-duration: .3s;
       -moz-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: -o-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform, -o-transform;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}
section.open .icon-menu {
    -webkit-transform: rotate(-180deg);
       -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
         -o-transform: rotate(-180deg);
            transform: rotate(-180deg);
}
.svg-chevron {
    width: 28px;
    height: 28px;
}
.icon-menu .svg-chevron path {
    fill: #969696;
}
section.open .icon-menu .svg-chevron path {
    fill: #ff6a10;
}

.cutoutColor1 {
    stop-color: rgb(240, 240, 240);
}
.cutoutColor2 {
    stop-color: rgb(240, 240, 240);
}
.wrapper-cutout {
    width: 20px;
    bottom: -5px;
    position: relative;
    left: 50%;
    margin-bottom: -20px;
}
.svg-cutout {
    height: 0;
    width: 20px;
    margin-left: -10px;
    -webkit-transition-duration: .3s;
       -moz-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-property: height;
    -o-transition-property: height;
    -moz-transition-property: height;
    transition-property: height;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}
.svg-cutout polygon {
    stroke: none;
    fill: url(#GradientCutout);
}
.svg-cutout polyline {
    fill: none;
    stroke: #d9d9d9;
    stroke-width: 1;
}
section.open .svg-cutout {
    height: 10px;
}

/* SECTION "BODY" */
.container-info {
    -webkit-transition-duration: .3s;
       -moz-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-property: height;
    -o-transition-property: height;
    -moz-transition-property: height;
    transition-property: height;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    height: 0;
    background-color: #fafafa;
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.05) 0,transparent 5px);
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.05) 0,transparent 5px);
    background-image: -o-linear-gradient(top,rgba(0,0,0,.05) 0,transparent 5px);
    background-image: linear-gradient(to bottom,rgba(0,0,0,.05) 0,transparent 5px);
    border-left: 1px solid rgba(0,0,0,.15);
    border-right: 1px solid rgba(0,0,0,.15);
    overflow-y: hidden;    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.04) 0,transparent 5px);    background-image: -moz-linear-gradient(top,rgba(0,0,0,.04) 0,transparent 5px);    background-image: -o-linear-gradient(top,rgba(0,0,0,.04) 0,transparent 5px);    background-image: linear-gradient(to bottom,rgba(0,0,0,.04) 0,transparent 5px);
}
body.dev .container-info {
    background-color: transparent;
}
section.open .container-info {
    height: auto;
}
.wrapper-info {
    padding: 32px 19px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
.container-info h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.inforow {
    margin-bottom: 16px;
}
.inforow:last-child {
    margin-bottom: 0px;
}
.container-info .col-1-2 {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
}
.container-info .col-2-2 {
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
}
.container-info hr {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 39px;
    margin-left: 0;
    margin-right: 0;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.15);
    border-top-style: none;
}

@media (min-width: 720px) {
    body > .main {
        margin: 0 auto;
    }
    .container-info .col-1-2, .container-info .col-2-2 {
        width: 49%;
    }
}

/* Use a media query to add a breakpoint at 800px */
@media (min-width: 768px) {
    .container-main {
        margin: 0 auto;
    }
    body.dev > .main {
        background-position: -520px -96px;
    }
    section:last-child {
        margin-bottom: 40px;
    }
    .wrapper-info {
        padding: 40px;
    }
    .inforow {
        margin-bottom: 0;
        padding: 6px 0;
    }
}